#red{
    color: red;
    font-weight: 900;
}
#blue{
    color: blue;
}
#yellow{
    color: yellow;
}
#green{
    color: green;
}
#purple{
    color: purple;
}
img {
    width: 200px;
    height: 200px;
}